/Exercise1/.idea
/Exercise1/out
/Exercise1/Exercise1.iml
/Exercise2/.idea
/Exercise2/out
/Exercise2/Exercise2.iml
/Exercise3/.idea
/Exercise3/out
/Exercise3/Exercise3.iml
/Exercise4/.idea
/Exercise4/out
/Exercise4/Exercise4.iml
/Exercise5/.idea
/Exercise5/out
/Exercise5/Exercise5.iml